# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)
print(type(number))

number = 8

print(number)
print(type(number))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [2]:
num_float = 4.7

print(num_float)
print(type(num_float))

4.7
<class 'float'>

In [3]:
another_float = 6.

print(num_float)
print(type(num_float))

4.7
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 3
num2 = 5

result = num1 + num2
print(result)
print(type(result))

8
<class 'int'>

In [9]:
num1 = 3
num2 = 5.

result = num1 + num2
print(result)
print(type(result))

8.0
<class 'float'>

In [10]:
# shorthand version
result += 2 # result = result + 2
print(result)

10.0

##### Subtraction

In [11]:
difference = num2 - num1
print(difference)

# Shorthand version
difference -= 1 # difference = difference -1
print(difference)

2.0
1.0

In [12]:
weird_result = 5.4 - 2
print(weird_result)

3.4000000000000004

##### Multiplication

In [13]:
product = num1 * num2
print(product)

# Shorthand- 
 product *= 2 # product = product * 2
print(product)

15.0

##### Division

In [ ]:
quotient = num1 / num2 
print(quotient)

#shorthand
quotient/= 2 # quotient = quotient / 2
print(quotient)

##### Floor Division

In [ ]:
result_floor = num2 // num 1
print(result_floor)
# // = floor. floor rounds down to nearest whole integer

# Shorthand
result_floor //= 2
print(result_floor)

##### Exponential

In [15]:
square = 5 ** 2
print(square)

# shorthand
square **= 2 # square = square ** 2
print(square)

25
625

In [16]:
square_root = 625 ** (1/2)
print(square_root)

25.0

##### Modulo

In [18]:
# Returns the Remainder of the operation
result_mod = 29 % 5
print(result_mod)

# shorthand 
result_mod %= 3
print(result_mod)

4
1

### String Input-Output

##### String Assignment

In [19]:
name = "Baruch"
print(name)
print(type(name))
# A string are words in "" or ''

Baruch
<class 'str'>

In [29]:
last_name = 'Rotbart'
print(last_name)
print(type(last_name))

Rotbart
<class 'str'>

In [20]:
middle_name = "Oz'
print(middle_name)

SyntaxError: EOL while scanning string literal (<ipython-input-20-57eb4062285a>, line 1)

In [21]:
my_house = 'Baruch\'s House'
print(my_house)

Baruch's House

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [30]:
print("First Name", name, "Last Name", last_name)

First Name Baruch Last Name Rotbart

##### String Concatenation

In [34]:
first_name = 'baruch'
last_name = 'rotbart'

full_name = first_name + " " + last_name
print(full_name.title())

# shorthand
full_name += ", Jr." # full_name = full_name + ", Jr."
print(full_name.title())

Baruch Rotbart
Baruch Rotbart, Jr.

##### Type Conversion

In [39]:
string_number = "47"
print(string_number)
print(type(string_number))

changed_number = int(string_number)
print(changed_number)
print(type(changed_number))

add_five = changed_number + 5
print(add_five)

47
<class 'str'>
47
<class 'int'>
52

In [40]:
"55" + str(10)

'5510'

In [41]:
some_var = "37839.39754"
print(type(some_var))
new_var = float(some_var)
print(new_var)
print(type(new_var))

<class 'str'>
37839.39754
<class 'float'>

##### input()

In [5]:
# input() is a built in function that will ask the end user for input
# INPUT WILL ALWAYS RETURN A STRING - ALWAYS

age = input("What is your age? ")
print(age)
print(type(age))

add_age = int(age) + 5
print(add_age)

print(age)
print(type(age))

What is your age? 5
5
<class 'str'>
10
5
<class 'str'>

##### .format() ( a method is specific to only string classes)

In [13]:
name = input("What is your name? ")
age= int(input("What is your age? "))

print(age)
print(name)

concat_string  = "Hello my name is " + name +  " and I am " + str(age) +  " years old"
print(concat_string)

KeyboardInterrupt: Interrupted by user

In [10]:
name = "Baruch"
age = 27

greeting = "Hello my name is {} and I am {} years old" .format(name, age)
print(greeting)

other_greeting = f"Hello my name is {name} and I am {age} years old"
print(other_greeting)

# with string concatenation
concat_string  = "Hello my name is " + name +  " and I am " + str(age) +  " years old"
print(concat_string)

Hello my name is Baruch and I am 27 years old
Hello my name is Baruch and I am 27 years old
Hello my name is Baruch and I am 27 years old

Hello my name isbaruchand I amyears old

##### Old Way (python 2)

In [ ]:
old_greeting = "Hello my name is %s and i am %i years old" %(name,age)
print(old_greeting)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [23]:
# Output: "My car is a grey 2007 toyota prius"

color = input("What color is your car? ")
year = input("What year was your car made? ") 
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

car_message_1 = "My car is a {} {} {} {}." .format(color, year, make, model)
print(car_message_1)

car_message_2 = f"My car is a {color} {year} {make} {model}."
print(car_message_2)

print(f"My car is a {color} {year} {make} {model}.")

What color is your car? grey
What year was your car made? 2007
What is the make of your car? toyota prius
What is the model of your car? base
My car is a grey 2007 toyota prius base.
My car is a grey 2007 toyota prius base.
My car is a grey 2007 toyota prius base.

### If Statements

In [27]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# F && F = F
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

print('Hello World')
if num1 == num2:
    print("the condition was true")

print('finished')

Hello World
the condition was true
finished

In [29]:
height = int(input("what is your height in inches? "))
if height < 60:
    weight = int(input("How much do you weigh? "))
    if weight < 100:
        print('You cannot ride!')
    else:
        print('Welcome Aboard!')

what is your height in inches? 44
How much do you weigh? 200
Welcome Aboard!

In [31]:
num1 = 5
num2 = 3

if 5 > 3 and 15 < 5:
    print('both conditions are true')
    
if 5 > 3 or 15 < 5:
    print('at least one condition is true')

at least one condition is true

In [32]:
if 5 > 1 and 5 > 2:
    print('5 is great')

5 is great

#### Ternary

In [ ]:
name = 'brian' if 5 < 3 else 'Tatyana'
print(name)

##### 'is' keyword

In [ ]:
# use the 'is' kyword when checking for same/similar object, NOT same value

list1 = ['baruch']
list2 = ['baruch']

if list1 == list2;
    print('the values are the same')

if list1 is list:
    print('the reference is the same')

##### 'in' keyword

In [37]:
# Used for membership. Case and order sensitive

char_name = 'Max Payne'

if 'M' in char_name:
    print('the character who...')

the character who...

##### 'not in' keyword'

In [38]:
char_name = 'Max Payne'

if 'z' not in char_name:
    print('the character who...')

the character who...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [49]:
username = input('What is your user name? ')

if 'p' not in username:
    print('Access Denied!')
else:
    if 'p' in username:
        print('Access Granted!')

What is your user name? steph
Access Granted!

In [56]:
address = input("What street did you grow up on? ")

if 'p' in address.lower():
    print(f"The letter p is in {address}")

What street did you grow up on? Poor
The letter p is in Poor

## Using 'and'/'or' with If Statements

In [ ]:
# see above

### Elif Statements

In [ ]:
get_in_price = 10

age_of_customer = int(input("What is your age? "))

if age_of_customer > 75:
    get_in_price *= .75
    #elif will only be checked if the condition DIRECTLY ABOVE evaluated to False
elif age_of_customer > 50:
    get_in_price *= .90
elif age_of_customer >45:
    get_in_price *= .99
    #else only runs when all if/elifs above are False.
else:
    get_in_price *= 1.1
    
print("thank you, your total is: $", get_in_price)

### Else Statements

### Else Statements

In [ ]:
# See above

### For Loops

In [1]:
name = 'Baruch Rotbart'

# name_iter = name.__iter__()
# name_iter.__next__()

# for *iter* in *iterable*:
for letter in name:
    print(letter)

B
a
r
u
c
h

R
o
t
b
a
r
t

In [2]:
for number in range(20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Using 'in' keyword

In [ ]:
# see above

##### Break Statement

In [ ]:
# will break out of current loop

In [3]:
print('loop started')
for i in range(20):
    if i == 5:
        break
    print(i)
print("loop finished")

loop started
0
1
2
3
4
loop finished

##### Continue Statement

In [ ]:
# will continue to next iteration

In [4]:
print('loop started')
for i in range(20):
    if i == 5:
        continue
    print(i)
print("loop finished")

loop started
0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
loop finished

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [9]:
for i in range(20):
    if i == 5:
        pass # do later
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Double For Loops

In [13]:
num = 5

for i in range(num):
    for j in range(num):
        print("i = ", i, "j=", j)

i =  0 j= 0
i =  0 j= 1
i =  0 j= 2
i =  0 j= 3
i =  0 j= 4
i =  1 j= 0
i =  1 j= 1
i =  1 j= 2
i =  1 j= 3
i =  1 j= 4
i =  2 j= 0
i =  2 j= 1
i =  2 j= 2
i =  2 j= 3
i =  2 j= 4
i =  3 j= 0
i =  3 j= 1
i =  3 j= 2
i =  3 j= 3
i =  3 j= 4
i =  4 j= 0
i =  4 j= 1
i =  4 j= 2
i =  4 j= 3
i =  4 j= 4

### While Loops

In [3]:
# Syntax: While conditional statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

In [2]:
print('loop started')
name = input("what is your name? ")
while name != 'Baruch':
    print('That is an inferior name. Try again.')
    name = input('What is your name? ')
print('loop finished')

loop started
what is your name?  Leslie
That is an inferior name. Try again.
What is your name?steve
That is an inferior name. Try again.
What is your name?Baruch
loop finished

##### Looping 'While True'

In [4]:
# prints infinite loop
while True:
    ask = input("would you like to quit? y/n ")
    if ask.lower() == 'y':
        break
    print("continue looping")

would you like to quit? y/n n
continue looping
would you like to quit? y/n
continue looping
would you like to quit? y/n
continue looping
would you like to quit? y/n
continue looping
would you like to quit? y/n y

##### While & For Loops Used Together

In [16]:
num = 0

while num < 5:
    print('While loop iteration: ' + str(i)
    
    for i in range(3):
        print('For Loop Iteration: ' + str(i))

    print(0)
    num += 1

SyntaxError: invalid syntax (<ipython-input-16-856b06adebe8>, line 6)

### Built-In Functions

##### range()

In [42]:
# range(stop) start will default to 0 and step will default to 1
# range(start, stop)
# range(start, stop, step)

for i in range(10, 20, 3):
    print(i)

10
13
16
19

##### len()

In [18]:
# checks the length of an iterable object

name = 'Timothy'

length = len(name)
print(length)
print(type(length))

7
<class 'int'>

In [20]:
for x in range(len(name)):
    print(x, name[x])

0 T
1 i
2 m
3 o
4 t
5 h
6 y

##### help()

In [22]:
# use this function to view more info about a python function (with a DOCTRING)

help()

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [25]:
# Check a variable to find out what Object family it belongs to
# isinstance(var, obj)

if isinstance(4.5, float):
    print("this is a float")

this is a float

##### abs()

In [27]:
# gives the absolute value
abs(-1400)

1400

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [13]:
cubed_number = []
for numbers in range(0,11):
    cubed_number.append(numbers ** 3)
    
print(cubed_number)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [65]:
# HINT::
# An else after an if runs if the if didn’t break
# An else after a for runs if the for didn’t break

for n in range (2,100):
    for m in range(2,n):
        if n % m == 0:
            break
    else:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [10]:
age = int(input("What is your age? "))

if age < 18:
    print("Kids")
elif age <= 65:
    print("Adults")
else:
    print("Seniors")

What is your age? 65
Adults